
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import 'public/build/fonts/bootstrap';

body { padding-top: 70px; }
.map-app { padding:0 !important; height:100% }
.map-app #app { height:100%; width:100%; }
.delete-bar-btn { cursor: pointer }
#content { height:100%; width:100% }